:root{
    --body-background-color:white;
    --div-background-color:whitesmoke;
}
*{
    box-sizing: border-box;
}

body{
    
    background-color: var(--body-background-color);
    text-align: center;
    font-family: "Calibri Light";
   
    

}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 0.03fr 0.1fr 1fr 0.1fr;
    grid-template-areas: "nav nav" "main main" "content1 content1" "content2 content2" "footer footer";
    width:fit-content;
    background-color:var(--div-background-color) ;
    color: white;  
    
    
    
    
}

#nav{
    
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: nav;
    background-color:rgba(50, 47, 4, 0.89);
    padding: 0px;
    
}

.heading{
    font-family: serif;
    text-align: center;
    font-size: 75px;
    font-weight: 900;
    max-width: 850px;
    margin:20px;
    
}
.subheading{
    margin-top: 20px;
    font-family:"Calibri Light";
    text-align: center;
    font-size: 40px;
    padding: 20px;
    margin: 20px;
    
}

#main{
    grid-area: main;
    color: black;
    font-size: 28px;
    text-align: left;
    font-weight: 900;


}

.main01{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: start;
 flex-wrap: wrap;
 flex-basis: 250px;
}

#content1{
   padding: 10px;
   grid-area: content1;
   color: black;
   display: flex;
   justify-content: center;
   align-items: center;

}

.div1{
    margin: 25px;
    align-self: baseline;
    text-align: justify;
    font-size: 20px;
    flex-basis: 300px;
  

}
.div2{
    margin-top: 0px;
    margin-left: 30px;
    align-self: baseline;
    font-size: 40px;
    flex-basis: 300px;
    font-weight: bolder;
   
}

span{
    color: rgb(18, 18, 115);
}
p{
    color: rgb(0, 0, 0);
    text-align: left;
   
}
.img_sm{

    height: 505px;
    width:400px;
   
}
.img_ssm{

    height: 720px;
    width:400px;
   
}
.gallery{
    width:100%;
    display: flex;
    justify-content: space-evenly;
    align-items:start;

}
#content2{
    grid-area: content2;
    color:black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Calibri Light";
    word-spacing: 1px;
    margin: 20px;
  
    

}
.img_div{
    margin-top: 40px;
    height: fit-content;
    border-color: rgb(77, 75, 75);
    border-width: 1px;
    box-shadow: 5px 3px  rgb(226, 217, 217);
    border-radius: 4px;
}
.story1>*{
    margin-top: 50px;
}
.story1{
    max-width: 900px;
    font-size: 24px;
}

.span_under{
    text-decoration: underline;
    color:black
}
.span_bold{

    font-weight:bold;
    color:black;
}

.div3{
    margin: 20px;
    font-size: 40px;
    font-weight:900;
}

#footer{
    grid-area: footer;
   color: black;
   text-align: center;
   font-size: 18px;
   padding: 100px;
  
}
@media only screen and (max-width:1200px){

    .gallery{
       
      
       
        flex-direction: column;
    
    }

}
@media only screen and (max-width:700px){
    .container{
        grid-template-columns:1fr;
        grid-template-rows: 0.1fr 0.03fr 0.1fr 1fr 0.1fr;
        grid-template-areas: "nav" "main" "content1" "content2" "footer";
        margin: 0px;
        width: fit-content;

    }

   #main{
   
    margin-left: 50px;
    margin-right: 50px;
    

   }
   
    
   
    .main01{
       height: fit-content;
       width: fit-content;
       font-size: 24px;
       align-self:auto;
       
    }
    .heading{
        font-size: 32px;
        margin: 40px;
    }
    .subheading{
        font-size: 24px;


        
    }
    #content1{ 
       
       flex-direction: column;
       align-items: center;
       justify-content: start;
       margin-left: 50px;
       margin-right: 50px;
    }
    .div1{
        margin-left: 0px;
        flex-basis: 230px;
        
       
    }
    .div2{
        margin-left: 0px;
        flex-basis: 230px;
       
    }
    #content2{
       margin-left: 50px;
       margin-right: 50px;
       margin-top: 0px;
       
    
    }
    .gallery{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
    
    }
}
